<div class="board">

  

  <div class="board-wrapper">

    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">

        <div  class="column-title">
          

          <ng-container [ngSwitch]="column.name">
            <i *ngSwitchCase="'Todo'" class="fas fa-clipboard-list"></i>
            <i *ngSwitchCase="'In progress'" class="fas fa-spinner"></i>
            <i *ngSwitchCase="'review'" class="fas fa-eye"></i>
            <i *ngSwitchCase="'done'" class="fas fa-check"></i>
            <i *ngSwitchDefault class="fas fa-columns"></i>
            

          </ng-container>
          {{ column.name }}
          <hr [style.background]="column.name === 'Todo' ? '#0F1F60' : column.name === 'In progress' ? '#FFC700' : column.name === 'review' ? ' #E08B0A' : column.name === 'done' ? '#1BE00A' : 'black'">

        </div>

        <div class="tasks-container"
        cdkDropList
        [cdkDropListData]="column.tasks"
        (cdkDropListDropped)="drop($event)">
        <div class="task" *ngFor="let item of column.tasks" cdkDrag [cdkDragData]="item">
         <div class="titre"> {{ item.title }}</div>
         <div class="paragraphe">{{ item.description }}</div> 

     <div class="date">{{item.dueDate | customDateTime}}</div>
          <div class="Details">
            <button type="button" class="btn btn-outline-info btn-sm" (click)="details(item)">
              <span class="btn-circle btn-circle-info">
                <i class="fa fa-eye"></i>
              </span>
            </button>        </div>
        </div>
        
        </div>
      </div>

    </div>

  </div>

</div>





