<div class="custom-modal modal-header">
    <h1 class="modal-title" class="fw-bold mb-1">Team</h1>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <form  >
  
      <div class="modal-body">
        <div class="details">
          <label class="fw-bold mb-1">Project Name:</label>
          <p class="info-text">{{ team.teamName }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Project Name:</label>
          <p class="info-text">{{ team.teamDesc }}</p>
        </div>


          <label class="fw-bold mb-1"> Manager Email:</label>
          <div class="d-flex align-items-center" *ngFor="let membre of team.members">
            <img [src]="'data:image/jpeg;base64,' + membre.profilePicture" alt="" style="width: 35px; height: 35px" class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ membre.email  }}</p>
            </div>
          </div>


      </div>
  
       
      <!-- ... Autres champs de formulaire ... -->


      <!-- Répétez ces blocs pour les autres propriétés des membres -->
      
      
  
      
  
    </form>
  
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span>Cancel</span></button>
  
  </div>
  