<div class="left">
    <h1>Add Activity</h1>
    <ul class="breadcrumb">
      <li>
        <a class="active" href="#">Dashboard</a>
      </li>
      <li>
        <a class="active" href="/add-activity">Add Activity</a>
      </li>
    </ul>
  </div>
  
  <form class="row g-3" [formGroup]="activityForm" (ngSubmit)="submit()">
    <div class="col-10">
      <label for="activityName" class="form-label">Activity Name</label>
      <input type="text" class="form-control" id="activityName" placeholder="Enter the activity Name" formControlName="activityName">
        <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['activityName']?.errors?.['required'] && submitted">
        Activity name is required
      </div>
    </div>
    <div class="col-10">
      <label for="descriptionA" class="form-label">Activity Description</label>
      <textarea class="form-control" id="descriptionA" rows="3" placeholder="Enter the activity description" formControlName="descriptionA"></textarea>
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['descriptionA']?.errors?.['required'] && submitted">
        Activity description is required
      </div>
    </div>
  
    <div class="col-10">
      <label for="descriptionA" class="form-label">Activity Objective</label>
      <textarea class="form-control" id="" rows="3" placeholder="Enter the activity objective" formControlName="objectiveA"></textarea>
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['objectiveA']?.errors?.['required'] && submitted">
        Activity objective is required
      </div>
    </div>
  
  
    <div class="col-md-3">
      <label for="inputActivityDuration" class="form-label">Activity Duration (in days)</label>
      <input type="number" class="form-control" id="inputActivityDuration" placeholder="Enter the activity duration" formControlName="durationA">
      <div class="alert alert-danger" role="alert"*ngIf="activityForm.controls['durationA']?.errors?.['required'] && submitted">
        Activity duration is required
      </div>
    </div>
  
    <div class="col-md-3">
      <label for="inputActivityDeadline" class="form-label">Activity Deadline</label>
      <input type="date" class="form-control" id="inputActivityDeadline" placeholder="Enter the activity deadline" formControlName="deadlineA">
      <div class="alert alert-danger" role="alert"*ngIf="activityForm.controls['deadlineA']?.errors?.['required'] && submitted">
        Activity deadline is required
      </div>
    </div>
  
    <div class="col-md-3">
      <label for="teamId" class="form-label">Team ID</label>
      <input type="text" class="form-control" id="teamId" placeholder="Enter the Team ID of the task" formControlName="teamId">
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['teamId']?.errors?.['required'] && submitted">
        TeamId ID is required
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['teamId'].errors?.['pattern'] && submitted">
        TeamId ID  should only contain digits and 8 numbers
      </div>
    </div>
  
    <div class="col-md-3">
      <label for="projectId" class="form-label">Project ID</label>
      <input type="text" class="form-control" id="projectId" placeholder="Enter the Project ID of the task" formControlName="projectId">
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['projectId']?.errors?.['required'] && submitted">
        Project ID is required
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="activityForm.controls['projectId'].errors?.['pattern'] && submitted">
        Project ID should only contain digits and 8 numbers
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" > Submit </button>
    </div>
  
  
  </form>