<div class="custom-modal modal-header">
  <h1 class="modal-title" >Task</h1>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <form  [formGroup]="editProjectForm">
  
      <div class="details">
        <label class="fw-bold mb-1">Activity Name:</label>
        <p class="info-text">{{ task.title }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Activity Name:</label>
        <p class="info-text">{{ task.description }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Activity Name:</label>
        <p class="info-text">{{ task.dueDate | customDateTime  }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Activity Name:</label>
        <p class="info-text">{{  task.status }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Activity Name:</label>
        <div class="d-flex align-items-center">
          <img
          [src]="'data:image/jpeg;base64,' +  task?.user?.profilePicture" 
              alt=""
              style="width: 35px; height: 35px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{ task?.user?.email  }}</p>
          </div>
        </div>      </div>
  
    </form>
  
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
  
  </div>
  