<div class="custom-modal modal-header">
  <h5 class="modal-title" >Task</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    <form  [formGroup]="editProjectForm">
  
  
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label > <span >Title</span> <span class="text-danger">*</span></label>
              <input readonly class="form-control " type="text"
                     [class.invalid]="f['title'].invalid && f['title'].touched"
                     formControlName="title"
                   >
  
              <div *ngIf="f['title'].invalid && f['title'].touched">
                <small
                  *ngIf="f['title'].invalid && f['title'].touched"
                  class="text-danger" > * is required</small>
              </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label > <span >Status</span> <span class="text-danger">*</span></label>
              <input readonly class="form-control " type="text"
                     [class.invalid]="f['status'].invalid && f['status'].touched"
                     formControlName="status"
                   >

                  
  
              <div *ngIf="f['status'].invalid && f['status'].touched">
                <small
                  *ngIf="f['status'].invalid && f['status'].touched"
                  class="text-danger" > * is required</small>
              </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="form-group">
            <label > <span >Task to user</span> <span class="text-danger">*</span></label>
            <input readonly class="form-control"
              [class.invalid]="f['email'].invalid && f['email'].touched"
              formControlName="email"
              >
     
  
            <div *ngIf=" f['email'].invalid &&  f['email'].touched">
              <small
                *ngIf=" f['email'].invalid &&  f['email'].touched"
                class="text-danger" > * is required</small>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="form-group">
            <label > <span >Description</span> <span class="text-danger">*</span></label>
  
            <textarea readonly rows="4" class="form-control"  [class.invalid]="f['description'].invalid  &&  f['description'].touched"
                      formControlName="description"></textarea>
            <div *ngIf="f['description'].invalid  && f['description'].touched">
              <small
                *ngIf="f['description'].invalid && f['description'].touched"
                class="text-danger" > * is required</small>
            </div>
          </div>
        </div>
    
      </div>
      
      
      <div class="col-lg-4">
          <div class="form-group">
            <label > <span >Deadline</span> <span class="text-danger">*</span></label>
            <div class="cal-icon">
              <input readonly class="form-control datetimepicker" type="date"bsDatepicker
                     [class.invalid]="f['dueDate'].invalid &&  f['dueDate'].touched"
                     formControlName="dueDate">
              <div *ngIf="f['dueDate'].invalid &&  f['dueDate'].touched">
                <small
                  *ngIf="f['dueDate'].invalid &&  f['dueDate'].touched"
                  class="text-danger"> * is required</small>
              </div>
            </div>
          </div>
        </div>
        
  
  
    
  
    </form>
  
  </div>
  <div class="modal-footer">
  
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
  
  </div>
  