<div class="chat-window">
    <div class="fixed-header">
        <div class="navbar">
            <div class="user-details me-auto">
                <div class="float-start user-img">
                    <a class="avatar" href="javascript:" title="Mike Litorus">
                        <img src="assets/img/profiles/avatar-5.jpg" alt="" class="rounded-circle">
                        <span class="status online"></span>
                    </a>
                </div>
           
            </div>
            <div class="search-box">
                <div class="input-group input-group-sm">
                    <input type="text" placeholder="Search" class="form-control">
                    <button type="button" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <ul class="nav custom-menu">
                <li class="nav-item">
                    <a class="nav-link task-chat profile-rightbar float-end" id="task_chat" href="#task_window"><i
                            class="fa fa-user"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/apps/calls/voice" href="javascript:" class="nav-link"><i
                            class="fa fa-phone"></i></a>
                </li>
                <li class="nav-item">
                    <a routerLink="/apps/calls/video" href="javascript:" class="nav-link"><i
                            class="fa fa-video-camera"></i></a>
                </li>
                <li class="nav-item dropdown dropdown-action">
                    <a aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" href=""><i
                            class="fa fa-cog"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Delete Conversations</a>
                        <a href="javascript:void(0)" class="dropdown-item">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-contents">
        <div class="chat-content-wrap">
            <div class="chat-wrap-inner">
                <div class="chat-box">
                    <div class="chats">
                        
                      
                       
                       
                       
                       
                     
                       
                       


                        <div class="chat" [ngClass]="item.status === 'sent' ? 'chat-right' : 'chat-left'"
                            *ngFor="let item of chatsList">
                            <div class="chat-avatar" *ngIf="item.status === 'received'">
                                <a href="javascript:" class="avatar">
                                    <img alt="" src="assets/img/profiles/avatar-5.jpg">
                                </a>
                            </div>
                            <div class="chat-body">
                                <div class="chat-bubble">
                                    <div class="chat-content">
                                        <p>{{ item.message }}</p>
                                        <span class="chat-time">{{ item.time }}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat chat-right" *ngFor="let item of dataArray">
            <div class="chat-body">
              <div class="chat-bubble">
                <div class="chat-content">
                  <p>{{ item.content }}</p>
                  <span class="chat-time">{{ item.localDateTime }}</span>
                </div>
              </div>
            </div>
          </div><div class="chat chat-left" *ngFor="let item of dataArray">
            <div class="chat-body">
              <div class="chat-bubble">
                <div class="chat-content">
                  <p>{{ item.content }}</p>
                  <span class="chat-time">{{ item.localDateTime }}</span>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="chat-footer">
        <div class="message-bar">
            <div class="message-inner">
                <a class="link attach-icon" href="javascript:" data-bs-toggle="modal" data-bs-target="#drag_files"><img
                        src="assets/img/attachment.png" alt=""></a>
                <div class="message-area">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Type message..."
                           ></textarea>
                            <button class="btn btn-custom" type="button" (click)="sendMessage()"><i
                                    class="fa fa-send"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  