<div class="custom-modal modal-header">
  <h1 class="modal-title fw-bold mb-1">Details user</h1>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row g-3">
    <div class="col-md-5">
      <label class="form-label fw-bold mb-1">First Name:</label>
      <p class="info-text">{{ selectedUser.firstname }}</p>
    </div>
    <div class="col-md-5">
      <label class="form-label fw-bold mb-1">Last Name:</label>
      <p class="info-text">{{ selectedUser.userLastName }}</p>
    </div>
    <div class="col-md-6">
      
      <label class="form-label fw-bold mb-1">Email Address:</label>
      <div class="d-flex align-items-center">
        <img [src]="'data:image/jpeg;base64,' + selectedUser.profilePicture" alt="" style="width: 35px; height: 35px" class="rounded-circle" />
        <div class="ms-3">
          <p class="info-text">{{ selectedUser.email }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <label class="form-label fw-bold mb-1">Title:</label>
      <p class="info-text">{{ selectedUser.titre }}</p>
    </div>
    <div class="col-md-5">
      <label class="form-label fw-bold mb-1">Phone Number:</label>
      <p class="info-text">{{ selectedUser.phoneNumber }}</p>
    </div>
    <div class="col-md-5">
      <label class="form-label fw-bold mb-1">Roles:</label>
      <div *ngIf="selectedUser.roles.length > 0">
        <div *ngFor="let role of selectedUser.roles">
          <div class="bouton">
              <p class="info-text">
                {{ role.roleName }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="submit-section">
    <button class="btn btn-primary submit-btn" [disabled]="isSaving || userForm.invalid" type="submit">
      <span>Save</span>
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span>Cancel</span></button>
  </div>
</div>
