


    <!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Welcome Admin User!</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
                  <div class="dash-widget-info">
                      <h3>{{projectCount}}</h3>
                      <span>Projects</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
                  <div class="dash-widget-info">
                      <h3>{{budgetscount}}</h3>
                      <span>budget</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
                  <div class="dash-widget-info">
                      <h3>{{countTask}}</h3>
                      <span>Tasks</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                  <div class="dash-widget-info">
                      <h3>{{userCount}}</h3>
                      <span>Employees</span>
                  </div>
              </div>
          </div>
      </div>
  </div>


  


  <div class="row">
      <div class="col-md-6 d-flex">
          <div class="card card-table flex-fill">
              <div class="card-header">
                  <h3 class="card-title mb-0">Users</h3>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table custom-table mb-0" >
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Email</th>
                                  <th>Phone number</th>
                                  <th class="text-end">Roles</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let user of dataUser; let i = index" >
                              <tr>
                                  <td>
                                      <h2 class="table-avatar" >
                                          <div class="avatar"><img alt=""
                                            [src]="'data:image/jpeg;base64,' + user.profilePicture"></div>
                                          <div>{{user.firstname}} <span>{{user.titre}}</span></div>
                                      </h2>
                                  </td>
                                  <td>{{user.email}}</td>
                                  <td>
                                    {{user.phoneNumber}}
                                  </td>
                                  <td *ngIf="user.roles && user.roles.length > 0">
                                    <div *ngFor="let role of user.roles">
                                      {{role.roleName}}
                                    </div>
                                  </td>
                                  <td *ngIf="!user.roles || user.roles.length === 0"class="text-center">-</td>
                              </tr>
                              
                             
                              
                          
                          </tbody>
                      </table>



                  </div>
              </div>
              <div class="card-footer">
                  <a routerLink="/clients/clientspage">View all clients</a>
              </div>
          </div>
      </div>
      <div class="col-md-6 d-flex">
          <div class="card card-table flex-fill">
              <div class="card-header">
                  <h3 class="card-title mb-0">Recent Projects</h3>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table custom-table mb-0">
                          <thead>
                              <tr>
                                  <th>Project Name </th>
                                  <th>Manager project</th>
                                  <th class="text-end">Budget</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let project of dataArray;">
                              <tr>
                                  <td>
                                      <h2><div>{{ project.projectName }}</div></h2>
                                      <small class="block text-ellipsis">
                                           <span class="text-muted">{{ project.objectiveP }}</span>
                                      </small>
                                  </td>
                                  <td>
                                      <div>{{ project.email }}</div>
                                  </td>
                                  <td class="text-end">
                                      {{project.budget}}
                                  </td>
                              </tr>
                        
                            
              
                            
                          </tbody>
                      </table>
                  </div>
              </div>
              <div class="card-footer">
                  <a routerLink="/projects/projectpage">View all projects</a>
              </div>
          </div>
      </div>
  </div>

</div>
<!-- /Page Content -->