.e-avatar > img {
    border-radius: 50%;
    width: 100%;
}
table.table td h2.table-avatar {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
	white-space: nowrap;
}
.row{
    margin-top: 20px;
}
a{
    text-decoration: none;
}