<div class="custom-modal modal-header">
    <h5 class="modal-title" >Edit user</h5>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
          <form class="row g-3" #userForm="ngForm"  (ngSubmit)="confirmEditTypeCourrier()">
            <input readonly type="hidden" name="id" [(ngModel)]="selectedUser.id" required>
            <div class="col-md-5">
              <label class="form-label">firstname <span class="text-danger">*</span></label>
              <input  type="text" class="form-control" name="firstname" [(ngModel)]="selectedUser.firstname" required >
              
              <div *ngIf=" userForm.controls['firstname']?.errors?.['required']">
                <small
                *ngIf=" userForm.controls['firstname']?.errors?.['required']"
                                  class="text-danger"> * is required</small>
              </div>
            </div>
           
            <div class="col-md-5">
              <label class="form-label">Last Name <span class="text-danger">*</span></label>
              <input  type="text" class="form-control" name="userLastName" [(ngModel)]="selectedUser.userLastName" required>
              
             <div *ngIf=" userForm.controls['userLastName']?.errors?.['required']">
              <small
              *ngIf=" userForm.controls['userLastName']?.errors?.['required']"
                                class="text-danger"> * is required</small>
            </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Email <span class="text-danger">*</span></label>
              <input type="email" class="form-control" name="email" [(ngModel)]="selectedUser.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
             
             <div *ngIf=" userForm.controls['email']?.errors?.['required']">
              <small
              *ngIf=" userForm.controls['email']?.errors?.['required']"
                                class="text-danger"> * is required</small>
            </div>
             
          <div *ngIf="userForm.controls['email']?.errors?.['pattern']">
            <small
            *ngIf="userForm.controls['email']?.errors?.['pattern']"
                              class="text-danger"> * Invalid email format</small>
          </div>
      
            </div> 
            <div  class="col-md-5">
              <label class="form-label">titre <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="titre" [(ngModel)]="selectedUser.titre"required>
             
             <div *ngIf=" userForm.controls['titre']?.errors?.['required']">
              <small
              *ngIf=" userForm.controls['titre']?.errors?.['required']"
                                class="text-danger"> * is required</small>
            </div>
            </div>
            <div  class="col-md-5">
              <label class="form-label">Phone Number<span class="text-danger">*</span></label>
              <input class="form-control" name="phoneNumber" [(ngModel)]="selectedUser.phoneNumber" required
                [pattern]="'^[0-9]{8}$'">
              <div class="alert alert-danger" role="alert" *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']">
                Identifier is required
              </div>
              <div *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']">
                <small
                *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']"
                                  class="text-danger"> * is required</small>
              </div>
             
              <div *ngIf=" userForm.controls['phoneNumber']?.errors?.['pattern']">
                <small
                *ngIf=" userForm.controls['phoneNumber']?.errors?.['pattern']"
                                  class="text-danger"> * The phone number must be 8 digits long  </small>
              </div>
            
            </div>
              <div class="col-md-5">
                <label class="form-label">Roles</label>
                <div *ngIf="selectedUser.roles.length > 0">
                    <div *ngFor="let role of selectedUser.roles; let i=index">
                      <div class="bouton" >
                           <select class="form-control" [(ngModel)]="role.roleName" [name]="'roleName' + (i+1)">
                          <option value="admin">admin</option>
                          <option value="manager">manager</option>
                          <option value="user">user</option>
                        </select>
                    
                        <input type="hidden" [(ngModel)]="role.id" [name]="'roleId' + (i+1)">
                        <button type="button" class="btn btn-primary" (click)="removeRole(i)">          <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    </div>
                    <button type="button" class="btn btn-primary"  *ngIf="selectedUser.roles.length === 0 || selectedUser.roles.length > 0" (click)="addRole()">Add Role</button>

                </div>
                <button type="button" class="btn btn-primary" *ngIf="selectedUser.roles.length === 0" (click)="addRole()">Add Role</button>

            </div>
            
            
      
            
<!-- Existing code -->

  


<!-- Existing code -->

<div class="submit-section">
  <button class="btn btn-primary submit-btn" [disabled]="isSaving || userForm.invalid" type="submit">
    <span>Sauvegarder</span>
  </button>
</div>

    
      </form>
    
    </div>
    <div class="modal-footer">
    
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
    
    </div>
    