<div class="custom-modal modal-header">
  <h1 class="modal-title" class="fw-bold mb-1">Edit user</h1>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
        <form class="row g-3" #userForm="ngForm"  (ngSubmit)="confirmEditTypeCourrier()">
          <input readonly type="hidden" name="id" [(ngModel)]="selectedUser.id" required>
          <div class="col-md-5">
            <label class="form-label" class="fw-bold mb-1">First Name <span class="text-danger">*</span></label>
            <input  type="text" class="form-control" name="firstname" [(ngModel)]="selectedUser.firstname" required >
            
            <div *ngIf=" userForm.controls['firstname']?.errors?.['required']">
              <small
              *ngIf=" userForm.controls['firstname']?.errors?.['required']"
                                class="text-danger"> * is required</small>
            </div>
          </div>
         
          <div class="col-md-5">
            <label class="form-label" class="fw-bold mb-1">Last Name <span class="text-danger">*</span></label>
            <input  type="text" class="form-control" name="userLastName" [(ngModel)]="selectedUser.userLastName" required>
            
           <div *ngIf=" userForm.controls['userLastName']?.errors?.['required']">
            <small
            *ngIf=" userForm.controls['userLastName']?.errors?.['required']"
                              class="text-danger"> * is required</small>
          </div>
          </div>
          <div class="col-md-5">
            <label class="form-label" class="fw-bold mb-1">Email Adress<span class="text-danger">*</span></label>
            <input type="email" class="form-control" name="email" [(ngModel)]="selectedUser.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
           
           <div *ngIf=" userForm.controls['email']?.errors?.['required']">
            <small
            *ngIf=" userForm.controls['email']?.errors?.['required']"
                              class="text-danger"> * is required</small>
          </div>
           
        <div *ngIf="userForm.controls['email']?.errors?.['pattern']">
          <small
          *ngIf="userForm.controls['email']?.errors?.['pattern']"
                            class="text-danger"> * Invalid email format</small>
        </div>
    
          </div> 
          <div  class="col-md-5">
            <label class="form-label" class="fw-bold mb-1">Title <span class="text-danger">*</span></label>
            <input type="text" class="form-control" name="titre" [(ngModel)]="selectedUser.titre"required>
           
           <div *ngIf=" userForm.controls['titre']?.errors?.['required']">
            <small
            *ngIf=" userForm.controls['titre']?.errors?.['required']"
                              class="text-danger"> * is required</small>
          </div>
          </div>
          <div  class="col-md-5">
            <label class="form-label" class="fw-bold mb-1">Phone Number<span class="text-danger">*</span></label>
            <input class="form-control" name="phoneNumber" [(ngModel)]="selectedUser.phoneNumber" required
              [pattern]="'^[0-9]{8}$'">
            <div class="alert alert-danger" role="alert" *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']">
              Identifier is required
            </div>
            <div *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']">
              <small
              *ngIf=" userForm.controls['phoneNumber']?.errors?.['required']"
                                class="text-danger"> * is required</small>
            </div>
           
            <div *ngIf=" userForm.controls['phoneNumber']?.errors?.['pattern']">
              <small
              *ngIf=" userForm.controls['phoneNumber']?.errors?.['pattern']"
                                class="text-danger"> * The phone number must be 8 digits long  </small>
            </div>
          
          </div>
            <div class="col-md-10">
              <label class="form-label" class="fw-bold mb-1">Roles</label>
              <div *ngIf="selectedUser.roles.length > 0">
                
                  <div *ngFor="let role of selectedUser.roles; let i=index">
                    <div class="bouton" >
                      <div class="selection">

                         <select class="form-select" [(ngModel)]="role.roleName" [name]="'roleName' + (i+1)">
                        <option value="admin">admin</option>
                        <option value="manager">manager</option>
                        <option value="user">user</option>
                      </select>
                      <input type="hidden" [(ngModel)]="role.id" [name]="'roleId' + (i+1)">
                      <button type="button" class="btn btn-danger" (click)="removeRole(i)"><mat-icon>delete</mat-icon></button>
                      <button type="button" class="btn btn-primary"  *ngIf="selectedUser.roles.length === 0 || selectedUser.roles.length > 0" (click)="addRole()">Add</button>
                    </div>
                  </div>
                  </div>

              </div>
              <button type="button" class="btn btn-primary" *ngIf="selectedUser.roles.length === 0" (click)="addRole()">Add Role</button>

          </div>
          
          
    
          
<!-- Existing code -->




<!-- Existing code -->
<div class="modal-footer">

<div class="submit-section">
<button class="btn btn-primary submit-btn" [disabled]="isSaving || userForm.invalid" type="submit">
  <span>Save</span>
</button>
<button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
</div>

</div>


    </form>
  
  </div>
 