<div class="custom-modal modal-header">
    <h1 class="modal-title" class="fw-bold mb-1">Activity</h1>
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
      <form>
        <div class="details">
          <label class="fw-bold mb-1">Activity Name:</label>
          <p class="info-text">{{ activity.activityName }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Activity description:</label>
          <p class="info-text">{{ activity.descriptionA }}</p>
        </div><div class="details">
          <label class="fw-bold mb-1">Activity objective:</label>
          <p class="info-text">{{ activity.objectiveA }}</p>
        </div><div class="details">
          <label class="fw-bold mb-1">Activity status:</label>
          <p class="info-text">{{ activity.status }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Activity deadline:</label>
          <p class="info-text">{{ activity.deadlineA | customDateTime }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Team Name:</label>
          <p class="info-text">{{ activity?.team?.teamName  }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Project Name:</label>
          <p class="info-text">{{ activity.project.projectName }}</p>
        </div>
        
      </form>
    
    </div>
    <div class="modal-footer">
    
      <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
    
    </div>
    


    
  
