
<div class="custom-modal modal-header">
  <h5 class="modal-title">Activity</h5>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
      
  
  <form class="row g-3" [formGroup]="activityForm" (ngSubmit)="confirmSaveProject()">
    <div class="col-10">
      <label for="activityName" class="form-label">Activity Name <span class="text-danger">*</span></label>
      <input type="text" class="form-control" id="activityName"[class.invalid]="f['activityName'].invalid && f['activityName'].touched" placeholder="Enter the activity Name" formControlName="activityName">
      
     
      <div *ngIf="f['activityName'].invalid && f['activityName'].touched">
        <small
          *ngIf="f['activityName'].invalid && f['activityName'].touched"
          class="text-danger" > * is required</small>
      </div>
    </div>
    <div class="col-10">
      <label for="descriptionA" class="form-label">Description<span class="text-danger">*</span></label>
      <textarea class="form-control" id="descriptionA" rows="3" placeholder="Enter the activity description" formControlName="descriptionA" [class.invalid]="f['descriptionA'].invalid && f['descriptionA'].touched"></textarea>
      <div *ngIf="f['descriptionA'].invalid && f['descriptionA'].touched">
        <small
          *ngIf="f['descriptionA'].invalid && f['descriptionA'].touched"
          class="text-danger" > * is required</small>
      </div>
    </div>
  
    <div class="col-10">
      <label for="descriptionA" class="form-label">Objective<span class="text-danger">*</span></label>
      <textarea class="form-control" id="" rows="3" placeholder="Enter the activity objective" formControlName="objectiveA" [class.invalid]="f['objectiveA'].invalid && f['objectiveA'].touched"></textarea>
      <div *ngIf="f['objectiveA'].invalid && f['objectiveA'].touched">
        <small
          *ngIf="f['objectiveA'].invalid && f['objectiveA'].touched"
          class="text-danger" > * is required</small>
      </div>
    </div>
  
  
   
    <div class="col-md-3">
      <label for="inputActivityDeadline" class="form-label"> Deadline<span class="text-danger">*</span></label>
      <input type="date" class="form-control" id="inputActivityDeadline" placeholder="Enter the activity deadline" formControlName="deadlineA" [class.invalid]="f['deadlineA'].invalid && f['deadlineA'].touched">
      <div *ngIf="f['deadlineA'].invalid && f['deadlineA'].touched">
        <small
          *ngIf="f['deadlineA'].invalid && f['deadlineA'].touched"
          class="text-danger" > * is required</small>
      </div>
    </div>
  
    <div class="col-md-3">
      <label for="team" class="form-label">Team ID<span class="text-danger">*</span></label>
      <select class="form-control" [class.invalid]="f['team'].invalid && f['team'].touched"
      formControlName="team">
          <option *ngFor="let manager of managersUser" [value]="manager">{{ manager }}</option>
      </select>
<div *ngIf="f['team'].invalid && f['team'].touched">
        <small
          *ngIf="f['team'].invalid && f['team'].touched"
          class="text-danger" > * is required</small>
      </div>
    </div>
  
   
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    
  
  
  </form>
    
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-6 ">
          <div >
            <button class="btn btn-primary submit-btn"  [disabled]="isSaving"  (click)="confirmSaveProject()" ><span > Save </span></button>
          </div>
        </div>
        <div class="col-6 ">
          <div >
            <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span > Cancel </span></button>
          </div>
        </div>
      </div>
    </div>
    
