<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title"  >Liste des projects</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink=""  ><span >Home</span></a></li>
          <li class="breadcrumb-item active"  > <span >List of projects</span> </li>
        </ul>
      </div>
      <div class="col-auto float-end ms-auto">
        <a class="btn add-btn" (click)="add()"><i class="fa fa-plus"></i>
          <span>Project</span> </a>
      </div>
    </div>
  </div>
  <div class="search">
    <div class="col-md-3">
      <div class="input-group">
        
        <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Search...">
        <span class="input-group-text">
          <i class="fa fa-search"></i>          
          </span>
      </div>
    </div>
    </div>
  <div class="table-responsive">
    <table class="table caption-top  table-hover">
      <caption class="caption">List of projects</caption>
      <thead class="thead-light">
        <tr>
          <th class="fw-bold mb-1" scope="col">Project Name</th>
          <th class="fw-bold mb-1" scope="col">Description</th>
          <th class="fw-bold mb-1" scope="col">Objective</th>
          <th class="fw-bold mb-1" scope="col">Deadline</th>
          <th class="fw-bold mb-1" scope="col">Project Manager</th>
          <th class="fw-bold mb-1" scope="col">Status</th>
          <th class="fw-bold mb-1" scope="col">Budget</th>
          <th class="fw-bold mb-1" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of dataArray | filter: searchValue">
          <td>{{ project.projectName }}</td>
          <td class="fixed-width-column">{{ project.descriptionP }}</td>
          <td class="fixed-width-column">{{ project.objectiveP }}</td>
          <td *ngIf="project.deadlineP">{{ project.deadlineP | customDateTime }}</td>
          <td class="text-center" *ngIf="!project.deadlineP">-</td>
          <td>
            <div class="d-flex align-items-center">
              <img
              [src]="'data:image/jpeg;base64,' +  project?.email?.profilePicture" 
                  alt=""
                  style="width: 35px; height: 35px"
                  class="rounded-circle"
                  />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ project?.email?.email }}</p>
              </div>
            </div>
          </td>
          <td>{{ project.status }}</td>
          <td>{{ project.budget }}</td>
          
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-success btn-sm" (click)="editer(project)">
                <span class="btn-circle btn-circle-success">
                  <i class="fa fa-pencil"></i>
                </span>
              </button>
              <button type="button" class="btn btn-outline-info btn-sm" (click)="details(project)">
                <span class="btn-circle btn-circle-info">
                  <i class="fa fa-eye"></i>
                </span>
              </button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmDeleteProject(project.id)">
                <span class="btn-circle btn-circle-danger">
                  <i class="fa fa-trash"></i>
                </span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
