<div class="left">
    <h1>Add Team</h1>
    <ul class="breadcrumb">
      <li>
        <a class="active" href="#">Dashboard</a>
      </li>
      <li>
        <a class="active" href="/add-team">Add Team</a>
      </li>
    </ul>
  </div>
  
  <form class="row g-3" [formGroup]="teamForm" (ngSubmit)="submit()">
    <div class="col-10">
      <label for="teamName" class="form-label">Team Name</label>
      <input type="text" class="form-control" id="teamName" placeholder="Enter the team name" formControlName="teamName">
      <div class="alert alert-danger" role="alert" *ngIf="teamForm.controls['teamName']?.errors?.['required'] && submitted">
        Team name is required
      </div>
    </div>
    <div class="col-10">
      <label for="teamDesc" class="form-label">Team Description</label>
      <textarea class="form-control" id="teamDesc" rows="3" placeholder="Enter the team description" formControlName="teamDesc"></textarea>
      <div class="alert alert-danger" role="alert" *ngIf="teamForm.controls['teamDesc']?.errors?.['required'] && submitted">
        Team description is required
      </div>
    </div>
  
    <div class="form-group" *ngIf="teamForm instanceof FormGroup">
      <label for="emails">Emails</label>
      <div formArrayName="emails">
        <div *ngFor="let email of teamForm.get('emails')?.controls; let i=index" class="form-group">
          <input type="text" class="form-control" [formControlName]="i" placeholder="Enter email address">
          <button type="button" class="btn btn-primary" (click)="removeEmail(i)">Remove Email</button>
        </div>
      </div>
      <button type="button" class="btn btn-primary" (click)="addEmail()">Add Email</button>
    </div>
    

    
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="submit()"> Submit </button>
    </div>
  
  </form>