<div class="container"><!-- reset-password.component.html -->
<h2>Reset Password</h2>

<div *ngIf="error" class="alert alert-danger">{{ error }}</div>

<div *ngIf="success" class="alert alert-success">{{ success }}</div>

<form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
  <div class="col-md-5">
  <div class="form-group">
    <label for="password">New Password:</label>
    <input type="password" class="form-control" id="password" name="password" required [(ngModel)]="password">
  </div>
  </div>
  <div class="col-md-5">
  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required [(ngModel)]="confirmPassword">
  </div>
</div>

  <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">Reset Password</button>

</form>
</div>