<div class="custom-modal modal-header">
  <h1 class="modal-title" class="fw-bold mb-1">Task informations</h1>
     <button type="button" class="close" (click)="closeModal()" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   
   <div class="modal-body">
     <div class="division">
       <div class="part">
         <h2 class="fw-bold mb-1">Task Information:</h2>
         <div class="details">
           <label class="fw-bold mb-1">Title:</label>
           <p class="info-text">{{ taskStatus?.title }}</p>
         </div>
         <div class="details">
           <label class="fw-bold mb-1">Status:</label>
           <p class="info-text">{{ taskStatus?.status }}</p>
         </div>
         <div class="details">
           <label class="fw-bold mb-1">Deadline:</label>
           <p class="info-text">{{ taskStatus?.dueDate | customDateTime }}</p>
         </div>
         <div class="details">
           <label class="fw-bold mb-1">Description:</label>
           <p class="info-text">{{ taskStatus?.description }}</p>
         </div>
 
        
       </div>
       <div class="part">
         <h2 class="fw-bold mb-1">Activity Information:</h2>
         <div class="details">
           <label class="fw-bold mb-1">Activity name:</label>
           <p class="info-text">{{ taskStatus?.activity?.activityName }}</p>
         </div>   
         <div class="details">
           <label class="fw-bold mb-1">Description:</label>
           <p class="info-text">{{ taskStatus?.activity?.descriptionA }}</p>
         </div>
         <div class="details">
           <label class="fw-bold mb-1">Objective:</label>
           <p class="info-text">{{ taskStatus?.activity?.objectiveA }}</p>
         </div>
         <div class="details">
           <label class="fw-bold mb-1">Deadline:</label>
           <p class="info-text">{{ taskStatus?.activity?.deadlineA | customDateTime}}</p>
         </div>
         <h2 class="fw-bold mb-1">Manager Information:</h2>
         
         <div class="details">
           <label class="fw-bold mb-1">Manager email:</label>
           <p class="info-text">{{ taskStatus?.manager?.email}}</p>
         </div>
       </div>
     </div>
   </div>
   
   <div class="modal-footer">
     <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span>Cancel</span></button>
   </div>
   