<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title"  >List of projects</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="" ><span >Home</span></a></li>
          <li class="breadcrumb-item active"  > <span >Lists of projects</span> </li>
        </ul>
      </div>
     
    </div>
  </div>
  <div class="search">
    <div class="col-md-3">
      <div class="input-group">
        
        <input type="text" class="form-control" [(ngModel)]="searchValue" placeholder="Search...">
        <span class="input-group-text">
          <i class="fa fa-search"></i>          
          </span>
      </div>
    </div>
    </div>
  <div class="table-responsive">
    <table class="table caption-top  table-hover">
      <caption class="caption">List of projects</caption>
      <thead class="thead-light">
        <tr>
          <th scope="col" class="fw-bold mb-1">Project Name</th>
          <th scope="col" class="fw-bold mb-1">Description</th>
          <th scope="col" class="fw-bold mb-1">Objective</th>
          <th scope="col" class="fw-bold mb-1">Deadline</th>
          <th scope="col" class="fw-bold mb-1">Project Manager</th>
          <th scope="col" class="fw-bold mb-1">Status</th>
          <th scope="col" class="fw-bold mb-1">Budget</th>
          <th scope="col" class="fw-bold mb-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of dataArray | filter: searchValue">
          <td>{{ project.projectName }}</td>
          <td>{{ project.descriptionP }}</td>
          <td>{{ project.objectiveP }}</td>
          <td *ngIf="project.deadlineP">{{ project.deadlineP | customDateTime }}</td>
          <td class="text-center" *ngIf="!project.deadlineP">-</td>
          <td>{{ project.email }}</td>
          <td>{{ project.status }}</td>
          <td>{{ project.budget }}</td>
          <td>
            <a  [routerLink]="'/AdminManager/activity/' + project.id"><button class="btn btn-primary submit-btn"  >Details</button></a>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
