<div class="custom-modal modal-header" >
  <h1 class="modal-title" class="fw-bold mb-1">Project</h1>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


    <div class="modal-body">
      <div class="details">
        <label class="fw-bold mb-1">Project Name:</label>
        <p class="info-text">{{ project.projectName }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1"> Manager Email:</label>
        <div class="d-flex align-items-center">
          <img [src]="'data:image/jpeg;base64,' + project.email.profilePicture" alt="" style="width: 35px; height: 35px" class="rounded-circle" />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{ project.email.email }}</p>
          </div>
        </div>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Project Description:</label>
        <p class="info-text">{{ project.descriptionP }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Project Objectives:</label>
        <p class="info-text">{{ project.objectiveP }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Project Deadline:</label>
        <p class="info-text">{{ project.deadlineP | customDateTime }}</p>
      </div>
      <div class="details">
        <label class="fw-bold mb-1">Budget:</label>
        <p class="info-text">{{ project.budget }}</p>
      </div>
      <label class="fw-bold mb-1">Activities:</label>
      <hr>
      <div class="activities" *ngFor="let activity of project.activity">
     
        <div class="details">
          <label class="fw-bold mb-1">Activity Name:</label>
          <p class="info-text">{{ activity.activityName }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Activity Description:</label>
          <p class="info-text">{{ activity.descriptionA }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Activity Objectives:</label>
          <p class="info-text">{{ activity.objectiveA }}</p>
        </div>
        <div class="details">
          <label class="fw-bold mb-1">Activity Deadline:</label>
          <p class="info-text">{{ activity.deadlineA | customDateTime }}</p>
        </div>
        <div class="team">
          <label class="fw-bold mb-1">Team Activity:</label>

          <div class="d-flex align-items-center" *ngFor="let member of activity.team.members">
            <img [src]="'data:image/jpeg;base64,' + member.profilePicture" alt="" style="width: 35px; height: 35px" class="rounded-circle" />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ member.email }}</p>
            </div>
          </div>
          </div>
          <hr>
        </div>
      </div>
 
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()"><span>Cancel</span></button>
</div>