.content {
	padding: 30px;
}

.mat-h3, .mat-subtitle-1, .mat-typography .mat-h3, .mat-typography .mat-subtitle-1, .mat-typography h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  font-family: Arial, sans-serif;
  letter-spacing: 0.01em;
  margin: 0;
}
a {
  color: grey;
  text-decoration: none;
 }